main {

}


.hero {
	height: 100vh;
	background-color: #8d6e63;
	background-image: url(../img/davide-cantelli-cropped.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover !important;
}    


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
