

  #main-navigation {
    position: absolute;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 30%, transparent 102%);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 30%, transparent 102%);


    .header-toggles {
        float: left;
    }

    .menu-icon {
        background: 0;
        float: left;
        outline: 0;
        background: none;
        padding: 0;
        margin-top: 0.2rem;
        border: 0;
        z-index: 999;

        &:hover .bar {
            &::before {
                @include transform(translateY(-0.9rem) rotate(0deg)); //I prefer using the translate property instead of 'top' as it provides much fater frame rate resulting in smoother animation
            }
            &::after {
                @include transform(translateY(0.9rem) rotate(0deg));
            }
        }

        &.active .bar {
          @include transition(background  0.2s ease-in-out, transform 0.2s);

            @include transform(translateX(-30px));
            background: 0;
            &::before {
                @include transform(translateX(30px) rotate(45deg));
            }
            &::after {
                @include transform(translateX(30px) rotate(-45deg));
            }
            &::after,
            &::before {
                top: 0;
                background: #fff;
            }
            &::after, &::before {
              //@include transition(background linear 0.1s, 0.2s top linear, 0.2s transform linear 0s);
              @include transition( background 0.3s ease-in-out, transform 0.25s ease-in-out );
            }
        }

        .hamburger {
            width: rem(40);
            height: rem(30);
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-right: 0.78rem;
            z-index: 999;
        }

        .bar {
          margin-top: 0.8rem;
            &, &::after, &::before {
                @include transition(0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear); //using the bourbon helper allows us to automatically prefix the transition property for browser support
                position: absolute;
                background: #fff;
                width: 100%;
                height: 3px;
                left: 0;
            }

            &::after,
            &::before {
                content: '';
            }

            &::before {
                @include transform(translateY(-0.8rem) rotate(0deg));
            }

            &::after {
                @include transform(translateY(0.8rem) rotate(0deg));
            }

            &::after,
            &::before {
                //@include transform(rotate(0deg));
            }
        }

        .txt {
            color: #fff;
            font-size: 1.2rem;
            font-family: $roboto-slab;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .search-form {
      float: left;
      position: relative;
      margin: 0 0 0 3rem;

      &.active {
        .icon-search {
          font-size: 1.4rem;
          color: #444;
          cursor: auto;
          @include transform(translate(4px, 5px));
        }

        .icon-cross {
          opacity: 1;
        }

        input[type="search"] {
          visibility: visible;
          opacity: 1;
        }
      }


      .icon-search {
        color: #fff;
        outline: 0;
        padding: 0;
        background: none;
        border: 0;
        font-size: 1.88rem;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 0;
        z-index: 100;
        @include transform(translateY(0px));
        @include transition(all 0.2s ease-in-out);
      }
 
      .icon-cross {
        position: absolute;
        right: 7px;
        top: 9px;
        opacity: 0;
        cursor: pointer;
      }

      input[type="text"], input[type="search"] {
        color: $dune;
        width: rem(260);
        font-size: 0.9rem;
        padding: 0.4rem 1.8rem 0.445rem 2rem;
        background: transparentize(#fff, 0.2);
        @include transition(all 0.3s ease-in-out);
        opacity: 0;
        visibility: hidden;
        border: none;
        border-bottom: 2px solid $dune;
        outline: none;
        box-sizing: border-box;

        &:active, &:focus {
          border-color: $secondary;
        }
      }


    }
}
