

#main-navigation {
	padding: rem(20) 0;
	z-index: 990;
	@include clearfix();

	.top-navigation {
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: rem(32);
			}

			&.checkout-item {

				[class^="icon-"] {
					position: relative;
			    display: inline-block;
			    vertical-align: middle;
			    margin-top: -0.845rem;
					-webkit-text-fill-color: initial;
					-webkit-background-clip: initial;
					&:before {
						font-size: 2.9rem;
					}

					& > span {
						font-family: $roboto-slab;
						position: absolute;
						left: 0;
						right: 0;
						top: 40%;
						margin-left: auto;
						margin-right: auto;
						text-align: center;
						color: #444;
					}
				}
			}
			a {
				color:#fff;
				font-family: $roboto-slab;
				text-transform: uppercase;
				text-decoration: none;


				&:hover {
					color: $secondary;


					[class^="icon-"] {
						color: $secondary;

						& > span {
							color: #fff;
						}
					}
				}


			}
		}
	}
}

#side-navigation {
  margin: 0;
  padding: 5rem 0 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 989;
  visibility: hidden;
  width: 320px;
  height: 100%;
  background: $dune;
  text-align: left;
	box-shadow: 2px 2px 23px 4px rgba(0,0,0,0.4);
	@include transition(all 0.3s ease);
	@include transform(translate(-100%, 0));

	&.open {
		visibility: visible;
		@include transition(transform 0.4s ease);
		@include transform(translateX(0%));

	}



	li {
		width: 100%;
		display: block;
		position: relative;

		a {
			color: #fff;
			font-size: 1.3em;
	    padding: 0.6rem 0 0.6rem 1.9rem;
			display: block;
			text-decoration: none;
			font-family: $roboto-slab;
			@include transition(color 0.25s ease-in-out);

			&:hover {
				color: $secondary;
			}
		}

		&> ul {
			padding: 0;
			margin: 0;

			li {
				a {
					padding: 0.5rem 0.5rem 0.5rem 2.7rem;

					&:before {
						content: '-';
						display: inline-block;
						color: #fff;
						margin-right: 0.5rem;
					}

					&:hover:before {
						color: $secondary;
					}
				}
			}
		}
	}
}
