

#main-navigation {
	padding: rem(20) 0;
	@include clearfix();

	.top-navigation {
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: rem(32);
			}

			&.checkout-item {

				[class^="icon-"] {
					position: relative;
			    display: inline-block;
			    vertical-align: middle;
			    margin-top: -0.845rem;
					-webkit-text-fill-color: initial;
					-webkit-background-clip: initial;
					&:before {
						font-size: 2.9rem;
					}

					& > span {
						font-family: $roboto-slab;
						position: absolute;
						left: 0;
						right: 0;
						top: 40%;
						margin-left: auto;
						margin-right: auto;
						text-align: center;
						color: #444;
					}
				}
			}
			a {
				color:#fff;
				font-family: $roboto-slab;
				text-transform: uppercase;
				text-decoration: none;


				&:hover {
					@include transition(background 0.3s ease-in-out);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-color: #ec2279;
					background-image: linear-gradient(50deg, #40a781, #d6ff59);

					[class^="icon-"] {
						color: #d6ff59;

						& > span {
							color: #fff;
						}
					}
				}


			}
		}
	}
}
